<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- NO DUAL MODE -->
    <head th:fragment="dependencies">
        <link rel="stylesheet" th:href="@{/CSS/Styles/DrunkMantis.css}" />
        <link rel="stylesheet" th:href="@{/CSS/Styles/bootstrap.min.css}" />
        <script type="application/javascript" th:src="@{/JS/jquery-3.1.1.min.js}" />
        <script type="application/javascript" th:src="@{/JS/bootstrap.min.js}" />
        <script type="application/javascript" th:src="@{/JS/angular.min.js}" />
    </head>

</html>