<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- NO DUAL MODE -->
    <head th:fragment="dependencies">
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/Styles/DrunkMantis.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/bootstrap.min.css}" />
        <script type="text/javascript" th:src="@{/JS/jquery-3.1.1.min.js}" />
        <script type="text/javascript" th:src="@{/JS/bootstrap.min.js}" />
        <script type="text/javascript" th:src="@{/JS/angular.min.js}" />
        <script src="https://use.fontawesome.com/29d1b971ae.js"></script>
    </head>

</html>