<!DOCTYPE html>

<!-- Lets the html know that AngularJS is in control ;) -->
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <!-- links to AngularJS framework -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>

    <!-- links to javascript file -->
    <script src="/market/kevin-test-single-page-application.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/CSS/Styles/DrunkMantis.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-app="marketModule">

    <!-- activates the controller within the division -->
    <div id="product-button" ng-controller="marketController">


        <input type="text" ng-model="Product" />
        <input type="text" ng-model="ProductDescription" />
        <span> {{Product}} </span>

    </div>
</div>
</body>
</html>