<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div  th:replace="/layouts/dependencies :: dependencies" ></div>
    <script type="text/javascript" th:src="@{/JS/portal.js}" />
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>

    <!-- ANGULAR JS HYBRID APP PORTAL -->
    <div ng-app="marketApp" ng-controller="marketControl" ng-cloak class="ng-cloak">


        name: {{product.description}}

    </div>

</html>